{{#if errorMessage}}
   <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{{/if}}

<h2>Reading</h2>

<table class="table table-hover">
  <thead>
    <tr style="background-color: lightblue">
      <th scope="col">Book title</th>
      <th scope="col" width="100px"></th>
      <th scope="col" width="100px"></th>
      <th scope="col" width="100px"></th>
    </tr>
  </thead>
  <tbody>
      {{#each findBooks}}
    <tr>
      <td>{{this.title}}</td>
      <td><form method="POST" action="/profile/{{this._id}}/editToPending"><button class="btn btn-outline-info" style="width:90px">Pending</button></form></td>
      <td><form method="POST" action="/profile/{{this._id}}/editToRead"><button class="btn btn-outline-info" style="width:90px">Read</button></form></td>
      <td><form method="POST" action="/profile/{{this._id}}/deleteBook"><button class="btn btn-outline-danger" style="width:90px">Delete</button></form></td>
    </tr>
    {{/each}}
  </tbody>
</table>