{{#if errorMessage}}
  <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{{/if}}

<div class="page-title">
  <h3>Welcome{{#if isLoggedIn}}, {{user.username}} {{/if}}!</h3>
</div>

    <div class="card mb-3 card-user-detail card-profile" style="max-width: 800px;">
      <div class="row g-0 card-user-color">
        <div class="col-md-3">
          {{#if user.profilePic}}
            <img class="img-fluid rounded-start profile-pic" src="{{user.profilePic}}" alt="{{user.username}} Profile-pic" />
          {{else}}
            <img class="img-fluid rounded-start profile-pic" src="/images/default-user-pic.png" alt="{{user.username}} Profile-pic" />
          {{/if}}
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title" style="font-weight:bold">About Me</h5>
            <p class="card-text">{{{user.about}}}</p>
            <p class="card-text"><small class="text-muted">Last updated {{user.updatedAt}}</small></p>
            {{#if isLoggedIn}}
              <div class="d-flex">
                <form method="GET" action="/profile/edit">
                  <button class="btn btn-outline-info btn-user-edit mr-1">Edit User</button>
                </form>
                <button type="button" class="btn btn-outline-danger btn-user-delete" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Delete My Profile
                </button>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete my User Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body danger">
        <span>Are you sure? All your saved data, including your book library will be deleted without any chance to recover it!</span>
      </div>
      <form method="POST" action="/profile/delete">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No!</button>

          <button type="submit" class="btn btn-primary">Yes, I'm sure</button>
        </div>
      </form>
    </div>
  </div>
</div>