{{#if errorMessage}}
  <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{{/if}}

<div class="card card-detail mb-3 card-book">
  <div class="row g-0">
    <div class="col-2">
      <img
        src="{{oneBookDetails.0.volumeInfo.imageLinks.smallThumbnail}}"
        class="img-fluid rounded-start"
        alt="{{oneBookDetails.0.volumeInfo.imageLinks.smallThumbnail}} cover image"
      />
    </div>
    <div class="col-10">
      <div class="card-body">
        <h5 class="card-title" style="font-weight:bold">{{oneBookDetails.0.volumeInfo.title}}</h5>
        <p class="card-text"><small
            class="text-muted"
          >{{oneBookDetails.0.volumeInfo.categories}}</small></p>
        <div class="d-flex">
          <div style="font-weight:bold">Authors</div>
          <ul>
            {{#each oneBookDetails.0.volumeInfo.authors}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <p class="card-text">{{oneBookDetails.0.volumeInfo.description}}</p>
        {{#if isLoggedIn}}
          <div class="d-flex">
            <form
              method="POST"
              action="/my-books/{{oneBookDetails.0.volumeInfo.industryIdentifiers.0.identifier}}/{{oneBookDetails.0.volumeInfo.title}}/pending"
            >
              <button class="btn btn-outline-success card-detail-btn">Add to
                pending read</button>
            </form>
            <form
              method="POST"
              action="/my-books/{{oneBookDetails.0.volumeInfo.industryIdentifiers.0.identifier}}/{{oneBookDetails.0.volumeInfo.title}}/reading"
            >
              <button
                class="btn btn-outline-success card-detail-btn"
              >Add to reading</button>
            </form>
            <form
              method="POST"
              action="/my-books/{{oneBookDetails.0.volumeInfo.industryIdentifiers.0.identifier}}/{{oneBookDetails.0.volumeInfo.title}}/read"
            >
              <button class="btn btn-outline-success card-detail-btn">Add to already read</button>
            </form>
          </div>
        {{/if}}

      </div>
    </div>
  </div>
</div>