{{#if errorMessage}}
  <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{{/if}}

<div class="card card-detail mb-3 card-book">
  <div class="row g-0">
    <div class="col-2">
      {{#if oneBookDetails.imageLinks.thumbnail}}
        <img src="{{oneBookDetails.imageLinks.thumbnail}}" class="img-fluid rounded-start" alt="{{oneBookDetails.title}}'s cover" />
      {{else}}
        <img src="/images/default-book.jpg" class="img-fluid rounded-start" alt="default cover" />
      {{/if}}
    </div>
    <div class="col-10">
      <div class="card-body">
        <h5 class="card-title" style="font-weight:bold">{{oneBookDetails.title}}</h5>
        <div class="d-flex">
          {{#if oneBookDetails.authors}}
            <div style="font-weight:bold">Authors</div>
            <ul>
              {{#each oneBookDetails.authors}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
        <p class="card-text">
          <small class="text-muted">
            Gogle ID:
            {{oneBookDetails.id}}<br />
            {{#if oneBookDetails.publishedDate}}
              Published date:
              {{oneBookDetails.publishedDate}}<br />
            {{/if}}
            {{#if oneBookDetails.categories}}
              Categories:
              {{oneBookDetails.categories}}<br />
            {{/if}}
          </small>
        </p>
        {{#if oneBookDetails.description}}
          <div style="font-weight:bold">Description</div>
          <p class="card-text">
            {{{oneBookDetails.description}}}</p>
        {{/if}}
        {{#if isLoggedIn}}
          <div class="d-flex">
            <form method="POST" action="/library/pending/{{oneBookDetails.id}}">
              <button class="btn btn-outline-success card-detail-btn">Add to pending read</button>
            </form>
            <form method="POST" action="/library/reading/{{oneBookDetails.id}}">
              <button class="btn btn-outline-success card-detail-btn">Add to reading</button>
            </form>
            <form method="POST" action="/library/read/{{oneBookDetails.id}}">
              <button class="btn btn-outline-success card-detail-btn">Add to already read</button>
            </form>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>